# Git
.git
.gitignore
.gitattributes

# Node.js
node_modules
packages/*/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.npm

# Build artifacts / Cache
packages/*/dist
packages/*/build
packages/*/.turbo
.turbo

# IDEs and OS specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store
**/.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
logs
*.log
*.log.[0-9]
*.logs

# Temporary files
*.tmp
*~
temp/
tmp/

# Coverage output
coverage
.nyc_output
